body {
    background-color: lightblue
}

.nav {
    padding-top: 10px;
    padding-bottom: 10px;
}



.hover, .rotate, .translateX, .threeD, .skew, .translateY, .scale {
    width: 100px;
    line-height: 0;
    padding: 50px 0;
    margin: 60px auto;
    background-color:#000000;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    transition-property: color, background-color, transform;
    transition-duration: 4s;


}

.hover:hover {
    color: yellow;
    background-color: lightcoral;
}

.rotate:hover {
    color: silver;
    background-color: turquoise;
    transform: rotate(360deg);

}

.translateX:hover {
    color: red;
    background-color: green;
    transform: translateX(20px);

}

.translateY:hover {
    color: green;
    background-color: black;
    transform: translateY(-40px);
}

.skew:hover {
    color: grey;
    background-color: green;
    transform: skew(10deg, 10deg);

}

.scale:hover {
    color: royalblue;
    background-color: black;
    transform: scale(2, 3);
}

/*.threeD {
    
}*Haven't worked on this yet/